<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

  <img src="assets/Shopizant-images/Logo.jfif" with="50" height="50">
  <span class="fs-4">Shopizant</span>


  <div class="container">
    <header class="-py-3" >
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home-page" class="nav-link ">Home</a></li>
        <li class="nav-item"><a routerLink="/products" class="nav-link">Products</a></li>
        <li class="nav-item"><a routerLink="/category" class="nav-link">Categories</a></li>
        <li class="nav-item"><a routerLink="/aboutpage" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>

  <div class="col-md-7 text-end">
    <button type="button" class="btn btn-outline-primary me-2"><a routerLink="/cart" href="#" class="nav-link active"><img src="assets/Shopizant-images/ShopcartIcon.jpg" with="50" height="50"></a></button>
    <button type="button" class="btn btn-outline-primary me-2"><a routerLink="/login" href="#" class="nav-link active">Login</a></button>
    <button type="button" class="btn btn-primary"><a routerLink="/signup" href="#" class="nav-link active">Sign-up</a></button>
  </div>
</div>



<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Phones</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"> Iphones</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <!--<li>/li>-->
          <td><img src="assets/Shopizant-images/Iphones.jfif" with="190" height="150"></td>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary"><a routerLink="/products" href="#" class="nav-link">Shop Now</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <!--makes the borders blue-->
        <h4 class="my-0 fw-normal">Watches</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Rolex</h1>
        <ul class="list-unstyled mt-3 mb-4">


          <td><img src="assets/Shopizant-images/Rolex.jfif" with="400" height="150"></td>

        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary"><a routerLink="/products" href="#" class="nav-link">Shop Now</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Kitchenware</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">High End Kitchenware</h2>
        <ul class="list-unstyled mt-3 mb-4">
          <td><img src="assets/Shopizant-images/Kitchenware.jfif" with="190" height="150"></td>

        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary"><a routerLink="/products" href="#" class="nav-link">Shop Now</a></button>
      </div>
    </div>
  </div>


</div>
<div>
<footer class="footer">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>© 2022–2023 Company, Inc. · <a href="#">ShopizantPrivacy</a> · <a href="#">ShopizantTerms</a></p>
</footer>
</div>
