
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <img src="assets/Shopizant-images/Logo.jfif" with="50" height="50">
  <span class="fs-4">Shopizant</span>


  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home-page" href="#" class="nav-link ">Home</a></li>
        <li class="nav-item"><a routerLink="/products" href="#" class="nav-link">Products</a></li>
        <li class="nav-item"><a routerLink="/category" href="#" class="nav-link">Categories</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>

  <div class="col-md-7 text-end">
    <button type="button" class="btn btn-outline-primary me-2"><a routerLink="/cart" href="#" class="nav-link active"><img src="assets/Shopizant-images/ShopcartIcon.jpg" with="50" height="50"></a></button>
    <button type="button" class="btn btn-outline-primary me-2"><a routerLink="/login" href="#" class="nav-link active">Login</a></button>
    <button type="button" class="btn btn-primary"><a routerLink="/signup" href="#" class="nav-link active">Sign-up</a></button>
  </div>



</div>




<div>  <h3 class="pb-2 border-bottom">About Page</h3> </div>
<h2> For explorers everywhere</h2>
<h6> founded in September of 2022 and based of Plano, Texas. Shobizant is a trusted community marketplace for people to list, discover and buy uniuq and world wide well known brands around the world -online or from your mobile phones or tablets</h6>
<h6> Shopizant connects people day and night to deleiver highquality customer satification door to door and provide a unique experience</h6>

<li class="dropdown" data-event-action="click-button-faq" data-event-label="expand-faq-1">
  <button class="accordion-link faq-accordion-link heading--4 text-left color-black" id="AccordionItem1" tabindex="0" aria-controls="AccordionItem2" aria-expanded="false">
    <span itemprop="name">Track you orders?</span>
  </button>
  <div class="accordion-content faq-accordion-content color-black" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="AccordionItem2" role="region" aria-labelledby="AccordionItem1" aria-hidden="true">
    <div itemprop="text">
      <div class="long-form-content ">
        <p>
      </div>
    </div>
  </div>
</li>
<li class="dropdown" data-event-action="click-button-faq" data-event-label="expand-faq-1">
  <button class="accordion-link faq-accordion-link heading--4 text-left color-black" id="AccordionItem1" tabindex="0" aria-controls="AccordionItem2" aria-expanded="false">
    <span itemprop="name">Report an Issue?</span>
  </button>
  <div class="accordion-content faq-accordion-content color-black" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="AccordionItem2" role="region" aria-labelledby="AccordionItem1" aria-hidden="true">
    <div itemprop="text">
      <div class="long-form-content ">
        <p>
      </div>
    </div>
  </div>
<li class="dropdown" data-event-action="click-button-faq" data-event-label="expand-faq-1">
  <button class="accordion-link faq-accordion-link heading--4 text-left color-black" id="AccordionItem1" tabindex="0" aria-controls="AccordionItem2" aria-expanded="false">
    <span itemprop="name">Contact us?</span>
  </button>
  <div class="accordion-content faq-accordion-content color-black" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="AccordionItem2" role="region" aria-labelledby="AccordionItem1" aria-hidden="true">
    <div itemprop="text">
      <div class="long-form-content ">
        <p>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2022–2023 Company, Inc. · <a href="#">ShopizantPrivacy</a> · <a href="#">ShopizantTerms</a></p>
  </footer>
