<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white text-center p-5 mt-3 center">
      <h3>Forgot Password </h3>
      <p>Please enter your email address and we'll send you</p>
      <p> instructions on how to resert your password</p>
      <form class="pb-3" action="#">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Username*" required="">
        </div>
      </form>
      <button type="button" class="btn btn-primary">Reset Password</button>
    </div>
  </div>

</body>
